<table align="center">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, id: "reset_password_form"}) do |f| %>
		<tr>
			<td><h2>Change your password</h2></td>
		</tr>
		
		<tr height="10"></tr>
		
		<tr>
			<td><%= devise_error_messages! %></td>
		</tr>
		
		<%= f.hidden_field :reset_password_token %>

		<tr>
			<div class="field">
				<td width="400">
					<%= f.label :password, "New password" %><br />
					<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "New Password", id: "user_new_password"%>
					<p id="user_new_password_error" class="profile-error"></p>
				</td>
			</div>
		</tr>
		
		<tr>
			<div class="field">
				<td>
					<%= f.label :password_confirmation, "Confirm new password" %><br />
					<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm New Password", id: "user_confirm_password"%>
					<p id="user_confirm_password_error" class="profile-error"></p>
				</td>
			</div>
		</tr>
		
		<tr height="10"></tr>
		
		<tr>
			<div class="actions">
				<td><%= f.submit "Change my password", class: "btn btn-primary pull-right"%></td>
			</div>
		</tr>
		
	<% end %>
		
</table>
