<table cellspacing="5" cellpadding="5" align="center">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, id: "forget_password_form"}) do |f| %>
		<tr>
			<td><h2>Forgot your password?</h2></td>
		</tr>
		<tr>
			<td> <%= devise_error_messages! %> </td>
		</tr>
	
		<div class="field">
			<tr>
				<td><%= f.label :email %></td>
			</tr>
			<tr>
				<td width="350">
					<%= f.email_field :email, class: "form-control", id: "forget_password_email"%>
					<p id="forget_password_email_error" class="profile-error"></p>
				</td>
			</tr>
		</div>
		
		<tr height="5">
		</tr>
		
		<div class="actions">
			<tr>
				<td><%= f.submit "Send me reset password instructions", class: "btn btn-primary"%></td>
			</tr>
		</div>
  
	<% end %>
	<tr>
		<td><%= render "devise/shared/links" %></td>
	</tr>
</table>
