<div>
	<% if current_user %>
		<ul>
		<% if current_user.has_role? "Doctor" %>
			<li><%= link_to "Profile", profile_doctor_path(current_user.id)%></li>
			<li><%= link_to "Appointments", appointments_path %></li>
			<li><%= link_to "Change Password", edit_user_registration_path, method: :get %></li>
			<li><%= link_to "Feedbacks", feedbacks_path %></li>

		<% elsif current_user.has_role? "Patient" %>
				
			<li><%= link_to "Profile", patient_path(current_user.id)%></li>
			<li><%= link_to "Search Doctor", doctors_path %></li>
			<li><%= link_to "Appointments", appointments_path%></li>
			<li><%= link_to "Change Password", edit_user_registration_path, method: :get %></li>

		<%end%>
			<li class="pull-right"><%= link_to "Log Out", destroy_user_session_path , method: :delete %></li>
		</ul>
	<% elsif %>
		<ul>
			<li><%= link_to "Login", new_user_session_path, method: :get %></li>
			<li><%= link_to "SignUp", new_user_registration_path, method: :get %></li>
		</ul> 
	<%end%>
</div>
