<!DOCTYPE html>
<html ng-app="PatientManagement">
	<head>
		<title>PatientManagement</title>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<base href="/"></base>
		<%= csrf_meta_tags %>
	</head>
	
	<body>	
		
		<div class="header" id="">
			 <%= render "layouts/menu"%>
		</div>

		<div id="message">
			<center>
				<p class="notice"><%= notice %></p>
				<p class="alert"><%= alert %></p>
				<p class="danger"><%= alert %></p>
			</center>
		</div>
		
		<div class="content">
			<div class="sub-content">
				<div class="basic-attribute-overflow">
					<%= render "partials/afterlogin/basic_attributes" %>
				</div>
				<div>
					<%= yield %>
				</div>
			</div>
		</div>

	</body>
</html>
